software*
.~lock.studentsguide.odt#
*.m~
icbliterature*
*.eps

*.eps

Write Up/Inner Core Paper.synctex.gz

Write Up/Inner Core Paper.toc

Write Up/Inner Core Paper.synctex.gz

Write Up/Inner Core Paper.pdf

Write Up/Inner Core Paper.out

Write Up/Inner Core Paper.log

Write Up/Inner Core Paper.blg

Write Up/Inner Core Paper.bbl

Write Up/Inner Core Paper.aux
